<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I am a senior at Yale studying Applied Mathematics with a concentration in Machine Learning and Computer Science.
      My strong background in math has fostered a deep appreciation for the mathematical world behind machine learning, deep learning, and computer vision.
      I'm passionate about applying statistical and computational methods to solve real-word problems.
      Recently, I have been focused on researching machine learning and computer vision applications in the medical domain.
    </p>

    <p>
      Currently, I have been researching computer vision applications in the medical domain at the
      <a class="underline-link" href="http://vision.cs.yale.edu/" target="_blank">Yale Vision Lab</a> and interning at
      <a class="underline-link" href="www://dropbox.com/" target="_blank">Dropbox</a>. Previously, I was a machine learning intern at 
      <a class="underline-link" href="https://www.mayoclinic.org/" target="_blank">Mayo Clinic</a> on the AI/ML Innovation Team.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably playing the piano or cello, trying a new restaurant, or going on hikes my with dogs.
    </p>

  </div>
</section>
