<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I am a <strong>senior at Yale</strong> studying <strong>Applied Mathematics</strong> with a concentration in Machine Learning and Computer Science.
      My strong background in math has fostered a deep appreciation for the mathematical world behind <strong>machine learning, deep learning, and computer vision</strong>.
      As a researcher, I focus on ML and computer vision <strong>applications in the medical domain</strong>.
    </p>

    <p>
      Currently, I am a researcher at the
      <a class="underline-link" href="http://vision.cs.yale.edu/" target="_blank">Yale Vision Lab</a> and intern at
      <a class="underline-link" href="www://dropbox.com/" target="_blank">Dropbox</a>. Previously, I was a machine learning intern at 
      <a class="underline-link" href="https://www.mayoclinic.org/" target="_blank">Mayo Clinic</a> on the AI/ML Innovation Team.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably playing the piano or cello, trying a new restaurant, or going on hikes my with dogs.
    </p>

  </div>
</section>
